.SidebarOption {
    display: flex;
    align-items: center;
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 250ms color ease-in;
}

.SidebarOption:hover {
    color: #FFF;
}

.sidebarOption_Icon {
    padding-left: 10px;
    padding-right: 10px;
}

.SidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}