.songRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: #FFF;
}
.songRow_info {
    margin-left: 20px;
}
.songRow:hover {
    cursor: pointer;
    background-color: #000;
    opacity: 0.8;
}
.songRow_info > p {
    font-size: 14px;
    margin-top: 3px;
    color: gray;
}
.songRow_info > h1 {
    font-size: 20px;
}
.songRow_album {
    height: 40px;
    width: 40px;
}